@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address style="">
    Lexicon Skövde<br/>
    Telefon:	0706-86 45 60<br />
    E-post:	skovde@lexicon.se<br />
    Adress:	Lexicon Skövde
    Gesällgatan 5
    541 50 Skövde<br />
    Besök:	Gesällgatan 5, plan 2<br />

</address>

<address>
      <a href="http://www.lexicon.se/Businesscenters/Lexicon-Skovde/"><strong>LEXIKON</strong> </a><br />
   
</address>