@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3 style="color:lightsalmon">@ViewBag.Message</h3>*@

<address style="font-size:x-large">
    <p style="font-size:x-large;color:lightgoldenrodyellow">Lexicon Skövde</p><br/>
    <strong>Telefon:</strong>	0706-86 45 60<br />
    <strong>E-post:</strong>	skovde@lexicon.se<br />
    <strong>Adress:</strong>	Lexicon Skövde
    Gesällgatan 5
    541 50 Skövde<br />
    <strong>Besök:</strong>	Gesällgatan 5, plan 2<br />

</address>

<address>
      <a href="http://www.lexicon.se/Businesscenters/Lexicon-Skovde/"><strong>LEXIKON</strong> </a><br />
   
</address>