
@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>
 <!--/panel-group-->
<div>
    <div class="container ">
        <div class="panel-group" id="faqAccordion">
            <div class="panel panel-default " style="background-color:darkturquoise">
                <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: What is all about?</a>
                    </h4>
                </div>
                <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>
                            It is a Web Shop PROJECT
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default " style="background-color:darkturquoise">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Why we did this project?</a>
                    </h4>
                </div>
                <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>we don't Know , just to finish our job here in LEXIKON</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default " style="background-color:darkturquoise">
                <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                    <h4 class="panel-title">
                        <a href="#" class="ing">Q: Where does it come from?</a>
                    </h4>
                </div>
                <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                    <div class="panel-body">
                        <h5><span class="label label-primary">Answer</span></h5>
                        <p>From our need to shop via internet.</p>
                    </div>
                </div>
            </div>


        </div>
       
    </div>



</div>